data_factory/pipeline/CQC_Locations-ingest.json
{
	"name": "CQC_Locations-ingest",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_CQC_LOCATION_LIST",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['locationId']"
											},
											"sink": {
												"name": "locationId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['providerId']"
											},
											"sink": {
												"name": "providerId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['organisationType']"
											},
											"sink": {
												"name": "organisationType",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['type']"
											},
											"sink": {
												"name": "type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['name']"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['brandId']"
											},
											"sink": {
												"name": "brandId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['brandName']"
											},
											"sink": {
												"name": "brandName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdCcgCode']"
											},
											"sink": {
												"name": "onspdCcgCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdCcgName']"
											},
											"sink": {
												"name": "onspdCcgName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['odsCcgCode']"
											},
											"sink": {
												"name": "odsCcgCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['odsCcgName']"
											},
											"sink": {
												"name": "odsCcgName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdIcbCode']"
											},
											"sink": {
												"name": "onspdIcbCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdIcbName']"
											},
											"sink": {
												"name": "onspdIcbName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['odsCode']"
											},
											"sink": {
												"name": "odsCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['registrationStatus']"
											},
											"sink": {
												"name": "registrationStatus",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['registrationDate']"
											},
											"sink": {
												"name": "registrationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['deregistrationDate']"
											},
											"sink": {
												"name": "deregistrationDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['dormancy']"
											},
											"sink": {
												"name": "dormancy",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['dormancyStartDate']"
											},
											"sink": {
												"name": "dormancyStartDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['dormancyEndDate']"
											},
											"sink": {
												"name": "dormancyEndDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['alsoKnownAs']"
											},
											"sink": {
												"name": "alsoKnownAs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdLatitude']"
											},
											"sink": {
												"name": "onspdLatitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['onspdLongitude']"
											},
											"sink": {
												"name": "onspdLongitude",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['careHome']"
											},
											"sink": {
												"name": "careHome",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['inspectionDirectorate']"
											},
											"sink": {
												"name": "inspectionDirectorate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['inspectionDirectorate']"
											},
											"sink": {
												"name": "inspectionDirectorate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['postalAddressLine1']"
											},
											"sink": {
												"name": "postalAddressLine1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['postalAddressLine2']"
											},
											"sink": {
												"name": "postalAddressLine2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['postalAddressTownCity']"
											},
											"sink": {
												"name": "postalAddressTownCity",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['postalAddressCounty']"
											},
											"sink": {
												"name": "postalAddressCounty",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['region']"
											},
											"sink": {
												"name": "region",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['postalCode']"
											},
											"sink": {
												"name": "postalCode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['uprn']"
											},
											"sink": {
												"name": "uprn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['mainPhoneNumber']"
											},
											"sink": {
												"name": "mainPhoneNumber",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['registeredManagerAbsentDate']"
											},
											"sink": {
												"name": "registeredManagerAbsentDate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['numberOfBeds']"
											},
											"sink": {
												"name": "numberOfBeds",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['constituency']"
											},
											"sink": {
												"name": "constituency",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['localAuthority']"
											},
											"sink": {
												"name": "localAuthority",
												"type": "String"
											}
										}
									],
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "CQC_locations",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_CQC_LOCATIONS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}