data_factory/pipeline/ingest-ASCOF.json
{
	"name": "ingest-ASCOF",
	"properties": {
		"activities": [
			{
				"name": "LookupYearDownloadURLs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ascof_ref",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupYearDownloadURLs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupYearDownloadURLs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FiscalYear",
											"value": {
												"value": "@item().FiscalYear",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Geographical Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "GeographicalCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Geographical Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "GeographicalDescription",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Geographical Level",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "GeographicalLevel",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ONS Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ONSCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ASCOF Measure Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ASCOFMeasureCode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Disaggregation Level",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DisaggregationLevel",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Measure Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MeasureType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Measure_Value",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MeasureValue",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Measure Group",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MeasureGroup",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Measure Group Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MeasureGroupDescription",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FiscalYear",
												"type": "String"
											},
											"sink": {
												"name": "Year",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ascof_raw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ASCOF",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	}
}